USE [master]
GO
/****** Object:  Database [Zoologico]    Script Date: 20/7/2018 22:05:01 ******/
CREATE DATABASE [Zoologico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zoologico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Zoologico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zoologico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Zoologico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zoologico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zoologico]
GO
USE [Zoologico]
GO
/****** Object:  Table [dbo].[Anim_Habit]    Script Date: 20/7/2018 22:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anim_Habit](
	[IdAnimal] [int] NULL,
	[Idhabitat] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animales]    Script Date: 20/7/2018 22:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animales](
	[IdAnimal] [int] NOT NULL,
	[npopular] [varchar](50) NULL,
	[ncientifico] [varchar](100) NULL,
	[genero] [varchar](50) NULL,
	[clase] [varchar](50) NULL,
	[orden] [varchar](50) NULL,
	[familia] [varchar](50) NULL,
	[alimentacion] [varchar](50) NULL,
	[habitat] [varchar](50) NULL,
	[edad] [int] NULL,
	[pextincion] [varchar](50) NULL,
	[dgeografica] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encarg_Habit]    Script Date: 20/7/2018 22:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encarg_Habit](
	[Idencargado] [int] NULL,
	[Idhabitat] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encargado]    Script Date: 20/7/2018 22:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encargado](
	[Idencargado] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[cargo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Idencargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitat]    Script Date: 20/7/2018 22:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitat](
	[Idhabitat] [int] NOT NULL,
	[caracteristicas] [varchar](50) NULL,
	[tipo_animal] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Idhabitat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anim_Habit]  WITH CHECK ADD  CONSTRAINT [FK_Anim_Habit_Animales] FOREIGN KEY([IdAnimal])
REFERENCES [dbo].[Animales] ([IdAnimal])
GO
ALTER TABLE [dbo].[Anim_Habit] CHECK CONSTRAINT [FK_Anim_Habit_Animales]
GO
ALTER TABLE [dbo].[Anim_Habit]  WITH CHECK ADD  CONSTRAINT [FK_Anim_Habit_Habitat] FOREIGN KEY([Idhabitat])
REFERENCES [dbo].[Habitat] ([Idhabitat])
GO
ALTER TABLE [dbo].[Anim_Habit] CHECK CONSTRAINT [FK_Anim_Habit_Habitat]
GO
ALTER TABLE [dbo].[Encarg_Habit]  WITH CHECK ADD  CONSTRAINT [FK_Encarg_Habit_Encargado] FOREIGN KEY([Idencargado])
REFERENCES [dbo].[Encargado] ([Idencargado])
GO
ALTER TABLE [dbo].[Encarg_Habit] CHECK CONSTRAINT [FK_Encarg_Habit_Encargado]
GO
ALTER TABLE [dbo].[Encarg_Habit]  WITH CHECK ADD  CONSTRAINT [FK_Encarg_Habit_Habitat] FOREIGN KEY([Idhabitat])
REFERENCES [dbo].[Habitat] ([Idhabitat])
GO
ALTER TABLE [dbo].[Encarg_Habit] CHECK CONSTRAINT [FK_Encarg_Habit_Habitat]
GO
USE [master]
GO
